{{#> layout}}
  {{#*inline "content"}}
    <p class="mb-md">
      Hallo,
      <br />
      <br />
      ein Kunde hat ein Unternehmen interessant für Tomisha gefunden. Füge jetzt weitere Details hinzu.
    </p>

    <a href="{{href}}" rel="notrack" target="_blank" class="btn mb-lg">
      Kostenloses Profil erstellen
    </a>
  {{/inline}}
{{/layout}}